$font-size-base: 0.925rem;
$primary-color: #7E7EDA;
$disabled-color-text: #B5B5E9;
$disabled-color-bg: #EDEDFA;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto-Regular", Helvetica, Arial, Sans-Serif;
  font-size: $font-size-base;
}

a {
  text-decoration: none;
}

.color-primary {
  color: $primary-color;
}

.color-disabled-text {
  color: $disabled-color-text;
}

.color-disabled-bg {
  background: $disabled-color-bg;
}

.bg-white {
  background: white;
}

.text-bold {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

.text-med {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.text-reg {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

.text-5 {
  font-size: 5px;
}

.text-11 {
  font-size: 11px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 14px;
}

.text-20 {
  font-size: 20px;
}

.cursor-pointer {
  cursor: pointer;
}