<template>
  <div class="register">
    <div class="wrapper-register d-flex justify-center align-center">
      <v-row no-gutters>
        <v-col
          md="4"
          offset-md="4"
        >
          <v-card
            class="pa-6"
            outlined
            tile
          >
            <div class="text-center text-24 font-weight-medium mb-3">Register</div>
            <!-- form -->
            <v-form
              ref="formRegister"
              v-model="valid"
              lazy-validation
            >
              <!-- username -->
              <v-text-field
                v-model="name"
                :rules="[rules.required]"
                label="Username"
                outlined
                dense
              ></v-text-field>

              <!-- email -->
              <v-text-field
                v-model="email"
                :rules="[rules.required, rules.email]"
                label="E-mail"
                outlined
                dense
              ></v-text-field>

              <!-- password -->
              <v-text-field
                v-model="password"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show ? 'text' : 'password'"
                label="Password"
                hint="At least 8 characters"
                class="input-group--focused"
                @click:append="show = !show"
                outlined
                dense
              ></v-text-field>

              <v-card-text class="blue--text text-right cursor-pointer mb-3">Sudah punya akun? Login disini</v-card-text>

              <v-btn
                block
                :disabled="!valid || (name.length < 1 || email.length < 1 || password.length < 1)"
                color="info"
                @click="register()"
              >
                Register
              </v-btn>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Register',
  data: () => ({
    valid: false,
    name: '',
    email: '',
    password: '',
    show: false,
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
      email: v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
    }
  }),

  mounted () {
    this.valid = false
  },

  methods: {
    async register () {
      try {
        const res = await this.$store.dispatch('home/getFilm', {})
        console.log(res)
      } catch (err) {
        alert('Gagal melakukan register')
        throw new Error(err)
      }
    }
  }
}
</script>
<style lang="sass">
.register
  *
    padding: 0
    margin: 0

  .wrapper-register
    width: 100vw
    height: 100vh
</style>
