<template>
  <div class="home d-flex flex-column justify-center align-center">
    <div class="wrap-component">
      <div class="mx-2 mt-2">
        <!-- location -->
        <div class="d-flex justify-space-between align-end mx-2 wrap-location">
          <div class="text-20 color-primary text-bold">Waktu Shalat</div>
          <div class="text-11 color-primary text-bold d-flex align-center">
            <img src="@/assets/img/ellipse.svg" class="mr-1" alt="ellipse">
            <span>Jakarta Pusat</span>
          </div>
        </div>
        <!-- end location -->
        <!-- illustrator -->
        <div class="wrap-illustrator">
          <div class="current-time">
            <div class="text-20 color-primary text-bold" id="currentTime"></div>
            <div class="wrap-next-prayer">
              <span class="text-11 color-primary text-reg">
                Sholat Selanjutnya
              </span>
              <span class="text-11 color-primary text-bold">
                {{ `${prayTime[currentPray].name} ${prayTime[currentPray].time}` }}
              </span>
            </div>
          </div>
          <img src="@/assets/img/illustrator.png" class="illustrator" alt="illustrator">
        </div>
        <!-- end illustrator -->
        <!-- date -->
        <date-component @getChangeData="changeDays" />
        <!-- end date -->
        <!-- time -->
          <div class="mx-3 mt-3">
            <div v-for="(data, index) in prayTime" class="color-disabled-bg d-flex justify-space-between text-14 text-bold py-2 px-4 wrap-pray" :key="index">
              <div class="d-flex align-center">
                <img
                  :src="currentPray === index ? data.img : data.imgDisabled"
                  class="mr-3"
                  :alt="data.name"
                >
                <span :class="classDisabled(currentPray, index)">{{ data.name }}</span>
              </div>
              <div class="d-flex align-center">
                <span :class="classDisabled(currentPray, index)">{{ timePrayDisplay[index].time }}</span>
                <img
                  :src="validateSilentDisabled(currentPray, index)"
                  class="ml-3"
                  alt="silent"
                >
              </div>
            </div>
          </div>
        <!-- end time -->
        <!-- menu footer -->
        <div class="d-flex justify-space-around mt-5 mb-2">
          <div v-for="(data, index) in menu" class="text-center" :key="index">
            <img :src="data.img" :alt="data.name">
            <div class="text-11 color-primary">{{ data.name }}</div>
          </div>
        </div>
        <!-- end menu footer -->
      </div>
    </div>
    <div v-if="dialog">
      <audio controls autoplay>
          <source src="../assets/sound/adzan.mp3" type="audio/ogg">
          Your browser does not support the audio element.
      </audio>
    </div>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <modal-pray @closeDialog="closeDialog(); validatePrayTime()" :datas="prayTime[currentPray]" />
    </v-dialog>
  </div>
</template>
<script>
// vuex
import { mapGetters } from 'vuex'

// firebase
import * as firebase from 'firebase/app'
import 'firebase/messaging'

// plugins
import moment from 'moment'

// component
import DateComponent from '@/components/DateComponent.vue'
import ModalPray from '@/components/ModalPray.vue'

export default {
  name: 'Home',
  components: { DateComponent, ModalPray },

  data: function () {
    return {
      currentPray: null,
      dialog: false,
      audio: new Audio('@/assets/sound/adzan.mp3'),
      timePrayDisplay: []
    }
  },

  computed: {
    ...mapGetters({
      menu: 'home/menu',
      prayTime: 'home/prayTime',
      tokenFirebase: 'home/tokenFirebase'
    })
  },

  created () {
    this.getTokenFirebase()
    this.validatePrayTime()
    this.changeDays(0)
  },

  mounted () {
    this.currentTime()
  },

  methods: {
    // close dialog
    closeDialog () {
      this.dialog = false
    },

    // sleep
    sleep (ms) {
      return new Promise((resolve) => setTimeout(resolve, ms))
    },

    // current time live
    currentTime () {
      const timeDisplay = document.getElementById('currentTime')
      const formattedDate = moment(String(new Date())).format('hh:mm:ss')
      timeDisplay.innerHTML = formattedDate

      this.sleep(1000).then(() => {
        const prayData = this.prayTime[this.currentPray]
        const prayTime = `${prayData.time}:00`
        if (prayTime === formattedDate) {
          // dialog modal in app
          this.dialog = true
          // push notification firebase
          // this.pushNotification(prayData.name)
        }
        // recursive
        this.currentTime()
      })
    },

    // validate silent image disabled
    validateSilentDisabled (currentPray, index) {
      return currentPray === index ? require('@/assets/img/pray/silent.svg') : require('@/assets/img/pray/silent-disabled.svg')
    },

    // check class disabled
    classDisabled (currentPray, index) {
      return currentPray === index ? 'color-primary' : 'color-disabled-text'
    },

    // validate pray time
    validatePrayTime () {
      const prayTime = this.prayTime
      for (let index = 0; index < prayTime.length; index++) {
        const checkPrayTime = this.checkPrayTime(prayTime[index].time)
        // jika waktu sholat belum dimulai maka tandain
        if (checkPrayTime === 1) {
          this.currentPray = index
          index = 6
        }
      }
    },

    changeDays (val) {
      switch (val) {
        case 0:
          this.timePrayDisplay = this.prayTime
          break
        case 1:
          this.timePrayDisplay = [
            {
              time: '04:28'
            },
            {
              time: '05:50'
            },
            {
              time: '11:57'
            },
            {
              time: '15:05'
            },
            {
              time: '17:50'
            },
            {
              time: '18:45'
            }
          ]
          break
        case 2:
          this.timePrayDisplay = [
            {
              time: '04:33'
            },
            {
              time: '05:55'
            },
            {
              time: '11:50'
            },
            {
              time: '15:10'
            },
            {
              time: '17:59'
            },
            {
              time: '18:55'
            }
          ]
          break
        case 3:
          this.timePrayDisplay = [
            {
              time: '04:28'
            },
            {
              time: '05:50'
            },
            {
              time: '11:57'
            },
            {
              time: '15:05'
            },
            {
              time: '17:50'
            },
            {
              time: '18:45'
            }
          ]
          break
        case 4:
          this.timePrayDisplay = [
            {
              time: '04:25'
            },
            {
              time: '05:40'
            },
            {
              time: '11:55'
            },
            {
              time: '15:15'
            },
            {
              time: '17:57'
            },
            {
              time: '18:40'
            }
          ]
          break
        case 5:
          this.timePrayDisplay = [
            {
              time: '04:28'
            },
            {
              time: '05:50'
            },
            {
              time: '11:57'
            },
            {
              time: '15:05'
            },
            {
              time: '17:50'
            },
            {
              time: '18:45'
            }
          ]
          break
        case 6:
          this.timePrayDisplay = [
            {
              time: '04:33'
            },
            {
              time: '05:45'
            },
            {
              time: '11:35'
            },
            {
              time: '15:15'
            },
            {
              time: '17:43'
            },
            {
              time: '18:49'
            }
          ]
          break

        default:
          this.timePrayDisplay = this.prayTime
          break
      }
    },

    // check pray time
    checkPrayTime (prayTime) {
      var currentDate = new Date()
      var dd = currentDate.getDate()
      var mm = currentDate.getMonth() + 1
      var yyyy = currentDate.getFullYear()

      var prayDate = new Date(`${yyyy}/${mm}/${dd} ${prayTime}:00`)

      let result = 0

      if (new Date().getTime() < new Date(prayDate).getTime()) {
        result = 1
      }

      return result
    },

    // get token fcm
    getTokenFirebase () {
      try {
        firebase
          .messaging()
          .requestPermission()
          .then(() => {
            console.log('Notification permission granted')
            return firebase
              .messaging()
              .getToken()
              .then((token) => {
                console.log(token)
                this.$store.commit('home/SET_TOKEN_FIREBASE', token)
              })
              .catch((err) => {
                console.log('Unable to get token.', err)
              })
          })
      } catch (e) {
        throw new Error(e)
      }
    },

    // push notification
    async pushNotification (prayName) {
      const payload = {
        to: this.tokenFirebase,
        notification: {
          title: 'Solat dulu yuk',
          body: `Sudah masuk waktu ${prayName}`
        }
      }
      console.log(JSON.stringify(payload))
      try {
        await this.$store.dispatch('home/pushNotification', JSON.stringify(payload))
      } catch (err) {
        throw new Error(err)
      }
    }
  }
}
</script>
<style lang="scss">
.home {
  min-height: 100vh;
  background: white;

  .wrap-component {
    background: white;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .wrap-location {
    margin-bottom: -20px;
  }

  .wrap-next-prayer {
    margin-top: -7px;
  }

  .wrap-illustrator {
    position: relative;

    .current-time {
      position: absolute;
      left: 12px;
      top: 44%;
      transform: translateY(-50%)
    }

    img.illustrator {
      width: 100%;
    }
  }

  .wrap-pray {
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .home {
    background: #F7F7F7;
    .wrap-component {
      width: 360px;
      margin: 20px 0;
      border: 1px solid #F9F9FB;
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2);
      border-radius: 4px;
      overflow-x: hidden;
    }
  }
}

</style>
