<template>
  <div>
    <div class="d-flex justify-space-between align-end mx-2 mb-2">
      <div class="text-16 color-primary text-bold">Dzulka’dah 1442</div>
      <div class="text-14 color-primary text-reg">{{ currentDate | moment('MMMM YYYY') }}</div>
    </div>
    <div class="d-flex justify-space-around bg-white wrap-date">
      <div class="text-center px-3 py-2" :class="{ active : index === currentIndex }" v-for="(data, index) in sevenNextDays" @click="getChangeData(index)" :key="index">
        <div class="wrap-sub-date">
          <div class="text-11 color-primary text-bold pb-1">{{ data | moment('ddd') }}</div>
          <div class="text-11 color-primary text-bold pb-1">{{ data | moment('D') }}</div>
          <div class="text-5 color-primary text-bold">{{ index + 1 }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Date',
  data: function () {
    return {
      sevenNextDays: [],
      currentDate: new Date(),
      currentIndex: 0
    }
  },

  methods: {
    getChangeData (val) {
      this.currentIndex = val
      this.$emit('getChangeData', val)
    },
    getEachDates () {
      const addDays = function (days) {
        const date = new Date(this.valueOf())
        date.setDate(date.getDate() + days)
        return date
      }

      const startDate = new Date()
      const endDate = addDays.call(startDate, 6)

      const dates = []
      let currentDate = startDate
      while (currentDate <= endDate) {
        let dd = currentDate.getDate()
        let mm = currentDate.getMonth() + 1
        const yyyy = currentDate.getFullYear()

        if (dd < 10) {
          dd = '0' + dd
        }

        if (mm < 10) {
          mm = '0' + mm
        }

        const result = yyyy + '/' + mm + '/' + dd
        dates.push(new Date(result))
        currentDate = addDays.call(currentDate, 1)
      }

      this.sevenNextDays = dates
    }
  },

  created () {
    this.getEachDates()
  }
}
</script>

<style lang="scss">
  .wrap-date {
    border-radius: 4px;
    border: 1px solid #F9F9FB;
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2);
  }
  .active {
      background: #EDEDFA;
  }
</style>
