<template>
  <div>
    <v-card>
      <v-card-title>
        <h5>Sudah Masuk Waktu Sholat {{ datas.name }}</h5>
      </v-card-title>
      <v-card-text>
        Tinggalkan semua aktivitas dan lekas kemasjid
      </v-card-text>
      <hr />
      <v-card-actions class="pa-4">
        <v-spacer></v-spacer>
        <v-btn
          color="info"
          block
          @click="closeDialog()"
        >
          Oke
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'ModalPray',
  props: {
    datas: {
      type: Object,
      default: () => {}
    }
  },

  methods: {
    closeDialog () {
      this.$emit('closeDialog')
    }
  }
}
</script>

<style>

</style>
